body {
    margin: 20px;
    line-height: 150%;
}

.container {
    width: 800px;
}

h2 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #aaa;
}

h5 {
    font-size: 1em;
}

.red {
    color: #B31212;
}
.green {
    color: green;
}

.no-outine {
    outline:none;
}

.small-text {
    font-size: 8px;
}
.italic {
    font-style: italic;
}
.all-caps {
    text-transform: uppercase;
}
.justify {
    text-align: justify;
}
.line-height {
    line-height: 100%;
}

.low-contrast,
a.low-contrast-active:active,
a.low-contrast-focus:focus,
a.low-contrast-visited:visited {
    color: #dddddd;
}

input.low-contrast {
    border: 1px #dddddd solid;
}

.example {
    border: 1px solid #000;
    padding: 10px;
}

.example--wide {
    width: 200%;
}