body {
    width: 1000px;
    margin: 20px;
}

h2 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #aaa;
}

h5 {
    font-size: 1em;
}

.red {
    color: #B31212;
}
.green {
    color: green;
}

.no-outine {
    outline:none;
}

.low-contrast,
a.low-contrast-active:active,
a.low-contrast-focus:focus,
a.low-contrast-visited:visited {
    color: #dddddd;
}

input.low-contrast {
    border: 1px #dddddd solid;
}