body {
    margin: 20px;
    line-height: 150%;
}

h2 {
    margin: 2em 0 0;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px;
    padding: 0px;
}

th {
    font-weight: bold;
}

th, td {
    border: 1px solid #999;
    padding: 4px;
}

tbody th {
    text-align: left;
    font-weight: normal;
}

.container {
    width: 800px;
}

.example {
    border: 1px solid #000;
    padding: 10px;
}

.example--contain {
    overflow: hidden;
}

.example--wide {
    width: 200%;
    overflow: hidden;
}
