.table--tool {
    width: 100%;
}

.table--tool tbody th {
    width: 20%;
}

.table--tool td {
    width: 4%;
}

.error {
    background: #a8ff26;
}

.warning {
    background: #fba300;
}

.different {
    background: #980f0f;
    color: #fff;
}

.notfound {
    background: #ff7c7c;
}

.identified {
    background: #A5D9FF;
}

.manual {
    background: #e685ff;
}

.wrong {
    background: #ffcccc;
}

.false-positive {
    background: #981389;
    color: #fff;
}