body {
    margin: 20px;
    line-height: 150%;
}

.hidden {
    display: none;
}

/* Global breadcrumb lifted from GOV.UK */
#global-breadcrumb {
    background-color: #fff;
    max-width: 1020px;
    margin: 0 auto;
    z-index: 50;
    overflow: hidden;
}

#global-breadcrumb ol {
    max-width: 960px;
    margin: 0 30px;
    padding: 0.75em 0
}

#global-breadcrumb ol li {
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: 0.5;
    background-image: url(https://assets.publishing.service.gov.uk/static/separator-871ef28abf1920b1b8050934ebec4366c18e3cba6ddb704392935e076a7e744d.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    float: left;
    list-style: none;
    margin-left: 0;
    margin-right: 0.5em;
    margin-bottom: 0.4em;
    padding-right: 1em
}

#global-breadcrumb ol li a {
    color: #0b0c0c
}

#global-breadcrumb ol li strong {
    font-weight: normal
}

#global-breadcrumb ol li:last-child {
    background-image: none;
    margin-right: 0
}

/* End of Global Breadcrumb */

/* Outline not visible */
.not-visible-outline {
    background: #fff;
    border: 2px solid #000;
    padding: 0.4em 2em;

}

.not-visible-outline:focus {
    border: 1px solid #000;
    outline: #000 solid 1px;
}

.not-visible-outline-link:focus {
    outline: #000 solid 1px;
}

/* Left aligned form labels */

.too-much-whitespace {
    overflow: hidden;
}

.too-much-whitespace label {
    float: left;
}

.too-much-whitespace input {
    float: right;
}

/* Lightbox */
.lightbox {
    position: fixed;
    height: 100px;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    background: white;
    border: 3px solid black;
    padding: 10px;
}

.lightbox .close-button {
    float: right;
    color: #000;
    text-decoration: none;
}

.lightbox span.close-button {
    cursor: pointer;
    cursor: hand;
}

/* Links only identifiable by colour alone */
.links-by-colour-alone a {
    color: #005ea5;
}

.links-by-colour-alone a:hover {
    color: #2e8aca;
}

.links-by-colour-alone .colour-alone-link {
    text-decoration: none;
}

/* Wrong focus order */

.focus-order-broken a {
    margin-left: 0.75em;
}

.focus-order-broken .first, 
.focus-order-broken .third {
    float: left;
}

.focus-order-broken .second {
    float: right;
}


